body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, nav, main, section, article, footer {
    margin: 0;
    padding: 0;
}
header {
    background-color: #00274D;
    border-bottom: 1px solid #ddd;
    padding: 20px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 30px;
}

nav ul li.logo {
    margin-right: auto;
    margin-left: 240px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff07d6;
}

nav ul li a {
    color: #ffffff;
}
section.video-section {
    text-align: center;
}
section.video-section img {
    width: 100%;
    height: auto;
}
section.tab-menu {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
section.tab-menu a {
    margin: 0 10px;
    padding: 10px;
    text-decoration: none;
    color: #19375f;
    border-bottom: 2px solid transparent;
}
section.tab-menu a.active {
    border-bottom: 2px solid #19375f;
}
section.comments-section {
    margin-top: 20px;
}
article.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
article.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
span.comment-content {
    max-width: 600px;
}
span.comment-content .username {
    font-weight: bold;
}
span.comment-content .timestamp {
    color: gray;
    font-size: 0.9em;
}
span.comment-content .text {
    margin: 5px 0;
}
span.comment-content .reply {
    color: #19375f;
    cursor: pointer;
    font-size: 0.9em;
}