body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, nav, main, section, article, footer {
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffffff;
    padding: 20px 20px;
}

nav ul {
    background-color: #00274D;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding: 16px 30px;
}

nav ul li {
    margin-right: 30px;
}

nav ul li.logo {
    margin-right: auto;
    margin-left: 190px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff07d6;
}

nav ul li a {
    color: #ffffff;
}